.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    padding: 20px 10px;
    width: 700px;
    
}

.post__body {
    flex: 1;
    padding: 10px;
}

.post__avatar {
    width: 50px;
    margin: 20px;
}

.post__image {
    border-radius: 20px;
    width: 500px;
}

.post__headerText {
    margin-bottom: 5px;
}

.post__headerDesc {
    margin-bottom: 15px;
}