.account-container {
  max-height: 100vh;
  overflow-y: scroll;
  min-width: fit-content;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.top-half {
  position: relative;
  background-color: var(--light-gray); /* Semi-transparent gray background */
  width: 100%;
}

.profile-info {
  height: 200px;
}

.profile-info img {
  position: absolute;
  top: 0;
  margin-left: 200px;
  transform: translate(-110%, 125px);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid white;
}

.following__container {
  text-align: center;
}

.main-content {
  padding: 10px;
}

.bottom-half {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 90px;
  padding: 0 50px;
}

.bottom__half__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameEmailContainer {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  margin: 10px 0;
  margin-bottom: 0;
}

.nameEmailContainer h1 {
  font-weight: var(--font-bold);
}

.render__bio__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bio__text {
  margin: 10px 0;
  margin-bottom: 12px;
}

.bio__option {
  width: 30%;
}

.bio__textArea {
  margin-top: 8px;
  border-radius: 5px;
  border: 1px solid var(--light-gray);
  background-color: var(--body-color);
  padding: 5px;
  color: var(--text-color);
  width: 30%;
  resize: none;
}

.acc__btn__container {
  display: flex;
  gap: 10px;
}

.edit__btn, .save__btn, .cancel__btn, .logout-button {
  font-size: var(--small-font-size);
  padding: 0.5rem 1.5rem;
  margin-top: 5px;
}

.header__btn__acc {
  background-color: var(--body-color);
  padding: 25px;
  width: 50%;
}

.header__btn__acc:hover {
  background-color: var(--light-gray);
  transition: 0.2s;
}

.header__btn__acc.active {
  border-bottom: 5px solid var(--first-color);
  color: var(--title-color);
}

.posts-tabs {
  margin-left: 0%;
  border-bottom: 1px solid var(--light-gray);
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0%;
  width: 100%;
  padding: 10px;
}

.post-item {
  background-color: var(--white);
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: var(--shadow);
  width: 100%;
}

.post-flyer {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.post-content {
  flex: 1;
}

.post-content h4 {
  margin-bottom: 10px;
  color: var(--title-color);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .post-item {
    flex-direction: column;
    align-items: center;
  }

  .post-flyer {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
