.post {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    padding: 20px 10px;
    width: 700px;
    border-bottom: 1px solid var(--light-gray);
}

.post__body {
    flex: 1;
    padding: 10px;
}

.post__avatar {
    width: 50px;
    margin: 20px;
}

.post__image {
    border-radius: 20px;
    width: 500px;
    box-shadow: var(--shadow);
}

.post__headerText {
    margin-bottom: 5px;
}

.post__headerDesc {
    margin-bottom: 20px;
}