* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
}

#appBody{
  display:flex;
}

.container {
  margin-left: 110px;
}

@media screen and (max-width: 1024px) {
  .container {
    margin-left: 0;
  }
}