.modalBackground {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer {
    width: 65vw;
    height: 80vh;
    border-radius: 12px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    /* max-height: 400px;  */
    overflow-y: auto;
  }

  .modalContainer .title {
    display: inline-block;
    text-align: left;
  }

  #clubname {
    font-size: x-large;
  }
  
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .modalContainer .body {
    flex: 50%;
    font-size: 1.7rem;
    text-align: center;
  }
  
  .modalContainer .ProfileButton {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .ProfileButton button {
    width: 170px;
    height: 30px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .OpenModalBtn{
    font-size: 20px;
    text-align: left;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 100px;
    width: 90vw;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    padding-left: 20px; 
  }

  .OpenModalBtn:hover {
    background-color: #ddd; /* Change to your desired hover color */
  }

  .component{
    display: flex;
    font-size: medium;
    margin-bottom: 30px;
    justify-content: space-between; 
    border-radius: 12px;
    background-color: #f2f2f2;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    white-space: normal;
  }

  .component h5{
    width: 15%;
    /* background-color: orange; */
    text-align: left;
    margin-right: 15px;
  }

  .tags{
    width:85%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }

  .component p, .component a{
    width: 85%;
    /* background-color: pink; */
    text-align: left;
    /* margin-right: 20px */
  }

  .modal__link {
    text-decoration: underline;
    overflow: hidden;
  }

  .twoStack {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
  }

  .twoStack .component{
    width: 50%;
  }

  .twoStack .component p, .twoStack .component a{
    width: 70%;
  }

  .twoStack h5{
    width: 30%;
  }

  .modal__text {
    overflow: hidden;
  }

  #AcademicBackground h5, #PracticeArea h5{
    margin-bottom: 4px;
  }

  @media (max-width: 1000px) {
    .twoStack {
      flex-direction: column; /* This will stack the components vertically */
      gap: 0px;
    }
    .twoStack .component{
      width: 100%;
    }
    .component{
      flex-direction: column;
      justify-content: center;
      align-items: center;  
    }
    .component p, .component h5, .component a{
      width: 100%;
      text-align: center;
      /* background-color: pink; */
      margin: 0;
    }

    .tags{
      display: grid; /* Sets Grid Layout */
      justify-items: center; 
    }

    .modal__span{
      width:fit-content;
    }
  }

  


  /*FOR ALL THE TAGS */

  .science-and-engineering{
    background-color: red;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .any-background{
    background-color: orange;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .arts-and-design{
    background-color: yellow;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .building-a-product{
    background-color: green;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .building-products{
    background-color: blue;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .business{
    background-color: purple;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .communication{
    background-color: pink;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .education-and-counseling-psychology{
    background-color: teal;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .finance{
    background-color: grey;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .innovation{
    background-color: maroon;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .law{
    background-color: mediumslateblue;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .leadership{
    background-color: thistle;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }


  .management{
    background-color: olivedrab;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .marketing{
    background-color: gold;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .networking{
    background-color: rosybrown;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .others{
    background-color: firebrick;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .science-and-engineering{
    background-color: salmon;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .starting-a-business{
    background-color: darkcyan;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .starting-businesses{
    background-color: cadetblue;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .team-working{
    background-color: violet;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .technical{
    background-color: hotpink;
    color:white;
    padding: 2px 5px;
    border-radius: 8px;
    white-space: nowrap;
  }
