.error-container {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    align-items: center;
    height: 100vh;
    gap: 1rem;
}

#goback {
    margin-top: 5px;
    width: 25%;
    transition: background-color 0.3s, box-shadow 0.3s;
    border: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  }